@page
@{
    ViewData["Title"] = "NotFound";
}

<h1>NotFound</h1>
<h2>The page you are looking for doesn't exist. Now stop typing random numbers in the URL bar!</h2>
<p>FYI -- When you created this html page by Add -- Razor Page -- you unselected the option to create a Model here, 
    because you really only need some plain text. No data bindings or antyhing.</p>
<p>In the Solution Explorer, you'll see that this page is missing an .cs file to match it.</p>

<a asp-page="./List" class="btn btn-primary">See All Restaurants</a>

